@using Newtonsoft.Json.Linq;
@using System.Globalization;
<h1>Reporting</h1>
<p>
    Total votes received: <b>@ViewBag.Results["totalVotes"]</b>
</p>
@foreach (JObject question in ViewBag.Results["questions"])
{
    <h2>@question["questionText"]</h2>
    <ul>
        @foreach (JObject questionResult in question["questionResults"])
        {
            <li>@questionResult["optionText"]: @questionResult["optionPercent"] (@questionResult["optionCount"] vote(s))</li>
        }
    </ul>
}