@model IEnumerable<Mshudx.OscarNite.Web.Models.Question>

@{
    ViewData["Title"] = "Categories";
}

<h2>Categories</h2>
<p>
    <a asp-action="Index" asp-controller="Admin">Back to home</a>
</p>
<p>
    <a asp-action="Create">Create a new category</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
</table>
